*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Typography */

:root {
  --color-primary: #ebd69b;
  --color-secondary: #000;
  --color-accent: #fff;
  --color-headings: #000;
  --color-body: #191919;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  color: var(--color-body);
  line-height: 1.5;
}

h1,
h2 {
  color: var(--color-headings);
  font-weight: 900;
}

h1 {
  font-size: 9.6rem;
  line-height: 12rem;
}

h2 {
  font-size: 4.8rem;
}

/* Container */
.container {
  width: 1720px;
}

/* Block Component */
.block--primary {
  background-color: var(--color-primary);
}
.block--secondary {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}
.block__heading {
  margin-top: 0;
}

/* Grid */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
