*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Typography */

/* TODO: Color heading to be removed */
:root {
  --color-primary: #f8d26a;
  --color-secondary: #000;
  --color-accent: #fff;
  --color-headings: #000;
  --color-body: #191919;
}

body,
a {
  font-family: "Poppins", sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  text-decoration: none;
  font-size: 2.4rem;
}
body {
  width: 100%;
}

h1,
h2 {
  color: var(--color-headings);
  font-weight: 700;
}

h1 {
  font-size: 6rem;
  line-height: 9rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 4.8rem;
}
.block-elem {
  display: block;
}

/* Container */
.container {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 1240px) {
  .container {
    max-width: 1720px;
  }
}
/* Block Component */
.block--primary {
  background-color: var(--color-primary);
}
.block--secondary {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}
.block__heading {
  margin-top: 0;
}
.block__heading--seconadry {
  color: var(--color-accent);
}
.block--center {
  text-align: center;
}

ul {
  list-style: none;
}

/* Grid */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Highlight-text */
.highlight {
  display: inline-block;
  position: relative;
  left: -2rem;
  transform: rotate(-2deg);
}
.highlight__text {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 2rem;
  transform: rotate(2deg);
  text-transform: uppercase;
}
.highlight--primary {
  background-color: var(--color-primary);
}
.highlight--secondary {
  background-color: var(--color-secondary);
}
.highlight--accent {
  background-color: var(--color-accent);
}

/* Button */
.btn {
  outline: 0;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 3.2rem;
}
.btn--primary {
  background-color: var(--color-primary);
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}
.btn--secondary:hover {
  background-color: var(--color-body);
}
.btn--primary:hover {
  background-color: #ddc06f;
}
.btn--padding {
  padding: 1rem 2rem;
}

/* card */
.card {
  box-shadow: 0 0 20px 10px rgb(241, 241, 241);
  border-radius: 10px;
}

/* Vector */ /* Star and ellipse */
.vector {
  display: inline-block;
  width: 10rem;
  height: 3rem;
}
.vector--primary {
  fill: var(--color-primary);
}
.vector--secondary {
  fill: var(--color-secondary);
}
.vector--accent {
  fill: var(--color-accent);
}
.vector--grey {
  fill: #89807a;
}

/* Icons */
.icon {
  display: inline-flex;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  outline: 0;
  background-color: var(--color-primary);
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.icon svg {
  height: 5.2rem;
  width: 5.2rem;
}
.icon a {
  font-size: 2rem;
}

/* Link */
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin: 1rem;
}
.link__header {
  font-size: 1.5rem;
  margin: 0;
}
.link__content {
  color: #7f7f7f;

  margin-top: 0;
}

/* Search-Bar */
.search-bar {
  background-color: var(--color-accent);
  outline: 0;
  width: 90%;
  margin: auto;

  max-width: 600px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.search-bar__input {
  font-size: 1.5rem;
  border: 0;
  margin: 2rem 0;
  padding-left: 1rem;
  outline: 0;
  min-width: 0;
  opacity: 0.6;
}

.search-bar .btn {
  margin: 0.5rem 1rem;
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
}

/* NavBar */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__logo-image {
  height: 25px;
  width: 30px;
}
.nav__logo-name {
  font-weight: 900;
  font-size: 3.5rem;
  padding-left: 0.5rem;
}
.nav__logo,
.nav__menu {
  cursor: pointer;
}
.nav__menu {
  width: 35px;
  height: 42px;
}
.nav__list {
  padding: 0;
  width: 100%;
  text-align: center;
  transition: max-height 0.4s, opacity 0.4s;
  font-size: 2rem;
  text-transform: uppercase;
}
.nav__item {
  margin-bottom: 1rem;
  margin-right: 0;
}
.nav__item > a:hover {
  color: #7f7f7f;
}

.collapse-content {
  transition: max-height 0.4s, opacity 0.4s;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  margin: 0;
}
.nav.expandable .nav__list {
  transition: all 0.4s;
  max-height: 100vh;
  opacity: 1;
}

.nav .btn {
  font-weight: 400;
  font-size: 2rem;
  padding: 0.5rem 2rem;
}

.nav .btn:hover {
  color: #fff;
}
.sticky {
  position: fixed;
  top: 0;
  transition: position 1s;
}
.nav__container {
  width: 100%;
  background-color: var(--color-accent);
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .nav {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  .nav__menu {
    display: none;
  }
  .nav__logo-name {
    font-size: 3rem;
  }

  .nav__list {
    max-height: 100vh;
    opacity: 1;
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__item {
    margin: 0.5rem 2%;
    margin-right: 0;
  }
  .nav .btn {
    font-size: 1.5rem;
  }
  .nav__item a {
    font-size: 2rem;
  }
}

/* Hero */
.hero {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 3rem 0;
  overflow: hidden;
}
.hero .grid {
  align-items: center;
}
.hero__heading {
  margin-top: 3rem;
}
.hero__picture {
  width: 100%;
  height: 100%;
  background-image: url(../images/Hero_1ximg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.hero__picture img {
  width: 220%;
  max-width: 80rem;
  object-fit: cover;
}
.hero__links {
  display: flex;
  align-items: center;
}
.hero__button {
  margin-left: 2rem;
  font-size: 2.4rem;
}
.hero__vector {
  width: 30%;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 4rem;
    line-height: 6rem;
  }
  .hero__content {
    padding-left: 2rem;
    font-size: 1.6rem;
  }
  .hero__button {
    font-size: 1.6rem;
    padding: 1rem 1rem;
  }
  .hero .grid {
    justify-items: center;
    text-align: center;
  }
  .hero__links {
    justify-content: center;
  }
  .hero__picture {
    height: 15rem;
  }
}
/* Brands */
.brands {
  padding: 0 2rem;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brands div {
  margin: 0 2rem;
}
.sprite {
  background: url("../images/sprite.png") no-repeat top left;
  width: 96px;
  height: 96px;
  object-fit: cover;
}
.sprite.amazon1 {
  background-position: 0 0;
}
.sprite.hm1 {
  background-position: -106px 0;
}
.sprite.levi1 {
  background-position: -212px 0;
  width: 128px;
  height: 128px;
}
.sprite.obey {
  background-position: -350px 0;
  width: 128px;
  /* height: 128px; */
}
.sprite.pngwingcom {
  background-position: -488px 0;
  width: 200px;
  height: 31px;
}
.sprite.shopify1 {
  background-position: -698px 0;
}
@media screen and (min-width: 1024px) {
  .brands {
    padding: 0 2rem;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .sprite {
    background: url("../images/sprite.png") no-repeat top left;
    width: 96px;
    height: 96px;
  }
}

/* Showcase */

.showcase .grid {
  gap: 3rem;
}
.showcase .block__heading {
  display: inline-block;
  position: relative;
}
.showcase .block__header,
.showcase .block__heading {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}
.showcase__icon {
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
  width: 15rem;
}

.showcase__image {
  width: 100%;
  border-radius: 10px;
}

.showcase .card:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}

/* Voucher-component */
.voucher {
  text-align: center;
  align-items: center;
  justify-items: end;
  gap: 2rem;
}
.voucher__heading {
  text-transform: uppercase;
  font-size: 3rem;
}
.voucher__body {
  font-size: 2.4rem;
}
.voucher__applink {
  margin: 4rem 0;
}
.voucher__image {
  width: 100%;
}
.voucher__picture {
  order: -1;
}

@media screen and (min-width: 768px) {
  .voucher {
    width: 80%;
    margin: auto;
    text-align: left;
  }

  .voucher__heading {
    text-transform: uppercase;
    font-size: 2rem;
  }
  .voucher__body {
    font-size: 1.4rem;
  }
  .voucher__applink {
    margin: 2rem 0;
  }
  .voucher__applink-item img {
    width: 13rem;
  }
  .voucher__picture {
    order: 0;
  }
}

/* Banner */

.banner .block__heading {
  font-size: 3rem;
  text-transform: uppercase;

  margin: auto;
}
.banner p {
  font-size: 2rem;
  opacity: 0.9;
}
.banner .block__body {
  margin-bottom: 2rem;
}
.banner .block__header {
  width: 90%;
  margin: auto;
}
.banner {
  padding-bottom: 2rem;
}

/* footer */
.footer .expandable .collapse-content {
  transition: all 0.4s;
  max-height: 100vh;
  opacity: 1;
}
.footer__grid {
  gap: 3rem;
  align-items: center;
}
.footer {
  padding: 3rem 0;
}
.footer li > a {
  color: #7f7f7f;
}
.footer li > a:hover {
  color: var(--color-accent);
}
.footer .collapse {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer .collapse-content {
    max-height: 100vh;
    opacity: 1;
  }
  .footer p {
    font-size: 1.4rem;
    color: #d1d1d1;
  }
  .footer__grid {
    grid-template-columns: 1fr auto;
  }

  .footer ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .footer li {
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }
  .footer .block__heading {
    font-size: 2rem;
  }
  .footer li > a {
    font-size: 1.3rem;
  }
}

/* Sale */
.sale {
  align-items: center;
  gap: 3rem;
  background: linear-gradient(
    1deg,
    #e0c340 0.13%,
    #dfc23e 3.97%,
    #e1c441 7.2%,
    #e3c743 10.13%,
    #e4c542 12.98%,
    #e6c744 15.99%,
    #e7c845 19.52%,
    #e5c643 23.96%,
    #e6c945 30.43%,
    #e3c743 36.49%,
    #e9ca48 42.49%,
    #edce49 49.35%,
    #f0d44c 55.42%,
    #f4d84f 61.43%,
    #f6da52 65.74%,
    #f7db53 72.23%,
    #f9dd55 77.43%,
    #f9df56 83.84%,
    #fae157 91.52%,
    #f9df56 97.87%
  );
}
.sale__image {
  width: 100%;
  height: 100%;
}
.sale__heading {
  margin-top: 0;
  margin-bottom: 1rem;
}

.sale__text {
  font-size: 2rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.sale__text--bold {
  font-weight: 700;
}
.sale .block__body p {
  margin: 0;
}
.sale .block__body {
  margin: 2rem 0;
}
.sale .block {
  width: 90%;
  margin: auto;
}
