*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Typography */

/* TODO: Color heading to be removed */
:root {
  --color-primary: #f8d26a;
  --color-secondary: #000;
  --color-accent: #fff;
  --color-headings: #000;
  --color-body: #191919;
}

body,
a {
  font-family: "Poppins", sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  text-decoration: none;
  font-size: 2.4rem;
}
body {
  width: 100%;
}

h1,
h2 {
  color: var(--color-headings);
  font-weight: 900;
}

h1 {
  font-size: 9.6rem;
  line-height: 12rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4.8rem;
}

/* Container */
.container {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 1240px) {
  .container {
    max-width: 1720px;
  }
}
/* Block Component */
.block--primary {
  background-color: var(--color-primary);
}
.block--secondary {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}
.block__heading {
  margin-top: 0;
}
.block--center {
  text-align: center;
}

ul {
  list-style: none;
}

/* Grid */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Highlight-text */
.highlight {
  display: inline-block;
  min-width: 47rem;
  transform: rotate(-2deg);
}
.highlight__text {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 2rem;
  transform: rotate(2deg);
}
.highlight--primary {
  background-color: var(--color-primary);
}
.highlight--secondary {
  background-color: var(--color-secondary);
}
.highlight--accent {
  background-color: var(--color-accent);
}

/* Button */
.btn {
  outline: 0;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 3.2rem;
}
.btn--primary {
  background-color: var(--color-primary);
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}
.btn--secondary:hover {
  background-color: var(--color-body);
}
.btn--primary:hover {
  background-color: #ddc06f;
}

/* card */
.card {
  box-shadow: 0 0 20px 10px rgb(241, 241, 241);
  border-radius: 10px;
}

/* Vector */ /* Star and ellipse */
.vector {
  display: inline-block;
  width: 10rem;
  height: 3rem;
}
.vector--primary,
.star--primary,
.ellipse--primary {
  fill: var(--color-primary);
}
.vector--secondary,
.star--secondary,
.ellipse--secondary {
  fill: var(--color-secondary);
}
.vector--accent,
.star--accent,
.ellipse--accent {
  fill: var(--color-accent);
}
.vector--grey,
.star--grey,
.ellipse--grey {
  fill: #89807a;
}
.star,
.ellipse {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}

/* Icons */
.icon {
  display: inline-block;
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 1.5rem;
  outline: 0;
  background-color: var(--color-primary);
  text-align: center;
  cursor: pointer;
}
.icon svg {
  height: 5.2rem;
  width: 5.2rem;
  vertical-align: middle;
  justify-self: center;
}

/* Link */
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin: 1rem;
}
.link__header {
  font-size: 1.5rem;
  margin: 0;
}
.link__content {
  color: #7f7f7f;

  margin-top: 0;
}

/* Search-Bar */
.search-bar {
  background-color: var(--color-accent);
  outline: 0;
  width: 90%;
  margin: auto;

  max-width: 600px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.search-bar__input {
  font-size: 1.5rem;
  border: 0;
  margin: 2rem 0;
  padding-left: 1rem;
  outline: 0;
  min-width: 0;
  opacity: 0.6;
}

.search-bar .btn {
  margin: 0.5rem 1rem;
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
}

/* NavBar */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav__logo-image {
  height: 20px;
  width: 25px;
}
.nav__logo-name {
  font-weight: 900;
  font-size: 3rem;
  padding-left: 0.5rem;
}
.nav__logo,
.nav__menu {
  cursor: pointer;
}
.nav__menu {
  width: 35px;
  height: 42px;
}
.nav__list {
  padding: 0;
  width: 100%;
  text-align: center;
  transition: max-height 0.4s, opacity 0.4s;
  font-size: 2rem;
  text-transform: uppercase;
}
.nav__item {
  margin-bottom: 1rem;
}
.nav__item > a:hover {
  color: #7f7f7f;
}

.collapse-content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
.nav.expandable .nav__list {
  transition: all 0.4s;
  max-height: 100vh;
  opacity: 1;
}

.nav .btn {
  font-weight: 400;
  font-size: 2rem;
  padding: 0.5rem 2rem;
}

.nav .btn:hover {
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .nav {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav__menu {
    display: none;
  }
  .nav__list {
    max-height: 100vh;
    opacity: 1;
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__item {
    margin: 0.5rem 2%;
    font-size: 1.5rem;
  }
  .nav .btn {
    font-size: 1.5rem;
  }
}

/* Hero */
.hero {
  background-color: #dfdfdf;
  border-radius: 10px;
}

.hero__picture {
  width: 100%;
  vertical-align: bottom;
}

.hero__picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Brands */

.brands {
  padding: 0 2rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brands div {
  margin: 0 2rem;
}
.sprite {
  background: url("../images/sprite.png") no-repeat top left;
  width: 96px;
  height: 96px;
}
.sprite.amazon1 {
  background-position: 0 0;
}
.sprite.hm1 {
  background-position: -106px 0;
}
.sprite.levi1 {
  background-position: -212px 0;
  width: 128px;
  height: 128px;
}
.sprite.obey {
  background-position: -350px 0;
  width: 128px;
  height: 128px;
}
.sprite.pngwingcom {
  background-position: -488px 0;
  width: 200px;
  height: 31px;
}
.sprite.shopify1 {
  background-position: -698px 0;
}

/* Showcase */

.showcase .grid {
  gap: 3rem;
}
.showcase .block__heading {
  display: inline-block;
  position: relative;
}
.showcase .block__header,
.showcase .block__heading {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}
.showcase__icon {
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
  width: 15rem;
}

.showcase__image {
  width: 100%;
  border-radius: 10px;
}

.showcase .card:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}

/* Voucher-component */
.voucher {
  text-align: center;
  align-items: center;
  justify-items: end;
  gap: 2rem;
}
.voucher__heading {
  text-transform: uppercase;
  font-size: 3rem;
}
.voucher__body {
  font-size: 2.4rem;
}
.voucher__applink {
  margin: 4rem 0;
}
.voucher__image {
  width: 100%;
}
.voucher__picture {
  order: -1;
}

@media screen and (min-width: 768px) {
  .voucher {
    width: 80%;
    margin: auto;
    text-align: left;
  }

  .voucher__heading {
    text-transform: uppercase;
    font-size: 2rem;
  }
  .voucher__body {
    font-size: 1.4rem;
  }
  .voucher__applink {
    margin: 2rem 0;
  }
  .voucher__applink-item img {
    width: 13rem;
  }
  .voucher__picture {
    order: 0;
  }
}

/* Banner */

.banner .block__heading {
  font-size: 3rem;
  text-transform: uppercase;

  margin: auto;
}
.banner p {
  font-size: 2rem;
  opacity: 0.9;
}
.banner .block__body {
  margin-bottom: 2rem;
}
.banner .block__header {
  width: 90%;
  margin: auto;
}
.banner {
  padding-bottom: 2rem;
}
