<section class="block block--primary banner block--center">
  <header class="block__header">
    <h2 class="block__heading">Join Shopping community to get monthly promo</h2>
    <p>Type your email down below and be young wild generation.</p>
  </header>
  <div class="block__body">
    <div class="search-bar">
      <input
        type="email"
        name="email"
        placeholder="Add your email here"
        class="search-bar__input"
      />
      <button class="btn btn--secondary">SEND</button>
    </div>
  </div>
</section>
