<section class="sale grid grid--1x2 block--primary">
  <picture>
    <img src="./images/image 12.jpg" class="sale__image" />
  </picture>
  <section class="block">
    <header class="block__header">
      <div class="block__heading">
        <span class="highlight highlight--accent">
          <h2 class="highlight__text">Payday</h2>
        </span>
        <h2 class="sale__heading">SALE NOW</h2>
      </div>
      <p class="sale__text">
        Spend minimal $100 get 30% off voucher code for your next purchase
      </p>
    </header>
    <div class="block__body">
      <div class="sale__text">
        <p class="sale__text--bold">1 June-10 June 2024</p>
        <p>*Terms and conditions apply</p>
      </div>
      <a href="#" class="btn btn--secondary sale__text btn--padding"
        >SHOP NOW</a
      >
    </div>
  </section>
</section>
